@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-default: "Roboto";
    --color-primary: #007e41;
    --color-secondary: #f14f10;
}

@layer base {
    [x-cloak] {
        display: none !important;
    }
}

@layer components {
    header {
        @apply bg-white
        /* bg-black */
        w-full h-12 flex items-center justify-between px-6 shadow-sm sticky top-0 z-30;
    }

    aside {
        @apply fixed lg:relative
           top-12 lg:top-0 left-0
           min-h-full
           bg-[#007E41]
           /* bg-[#121212] */
           text-white
           overflow-y-auto pt-5 mb-32
           transition-all duration-300
           z-20;
    }

    aside ul li .sidebar-menu {
        @apply w-full text-sm flex items-center justify-between py-1 pl-4 pr-2
        hover:bg-[#F14F10]
        /* hover:bg-neutral-500 */
        /* hover:text-gray-200  */
        cursor-pointer;
    }

    aside ul li .active {
        @apply text-white bg-[#F14F10] font-semibold;
    }

    main {
        @apply flex-1 overflow-y-auto flex flex-col
        bg-gray-100
        /* bg-neutral-800 text-gray-100 */
        h-full;
    }

    footer {
        @apply flex-1 pl-2 fixed w-full bottom-0
        bg-[#F14F10] z-10;

        /* bg-[#007E41]; */
    }

    .leaflet-container {
        z-index: 1;
    }

    .leaflet-control {
        z-index: 2;
    }

    .leaflet-pane {
        z-index: 1;
    }

    /* footer {
        @apply flex-1 sticky bottom-12 bg-[#F14F10];
    } */
}
